/* Anaheim Andika */

body {
    font-family: Roboto;
    margin: 0;
}

header {
    background-color: #eee;
    padding: 10px;
}

h1 {
    margin: 0;
}

h1, h2, h3 {
    font-family: "Carme";
    font-weight: normal;
}

pre {
    background-color: #F5F5F5;
    font-family: Inconsolata;
    padding: 10px;
}

pre code {
    background: none;
    padding: 0;
}

code {
    background-color: #F5F5F5;
    padding: 3px 5px;
}

.tips {
    padding: 10px;
}

.tip-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    cursor: pointer;
}

.tip-tags {
    vertical-align: middle;
    margin: 0;
    font-size: .8rem;
    font-weight: normal;
    font-family: Inconsolata;
    display: inline-block;
    position: absolute;
    right: 10px;
}

.tip-tag {
    display: inline-block;
    background-color: hsl(197, 84%, 96%);
    border: 1px solid #6ebad8;
    padding: 3px 5px;
}

.tip-tag:hover {
    background-color: hsla(197, 69%, 90%, 1);
}

.tip-tag a {
    color: #444;
    text-decoration: none;
}

.tip-date {
    font-family: Inconsolata;
    font-size: .8rem;
}