/* Anaheim Andika */

* { box-sizing: border-box; }

body { font-family: Roboto; margin: 0; color: #222; line-height: 1.5; }

header {
  background-color: #eee;
  padding: 10px;
}

h1 { margin: 0; }

h1, h2, h3 {
  font-family: "Carme";
  font-weight: normal;
  position: relative;
}

pre {
  font-family: Inconsolata;
  padding: 10px;
}

pre code {
  background: none;
  padding: 0;
}

code {
  background-color: #F5F5F5;
  padding: 2px 5px;
}

kbd {
  display: inline-block;
  padding: 1px 5px;
  padding-bottom: 5px;
  font-size: 11px;
  line-height: 11px;
  color: #555;
  border: solid 1px #CCC;
  border-bottom-color: #959DA5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959DA5;
}

table {
  color: #333;
  --bd-color: #CCC;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  background-color: #F7F7F7;
  color: #111;
}
td, th { padding: 10px; }
tr:not(:last-of-type) { border-bottom: 1px solid #DDD; }
td:not(:last-of-type) { border-right: 1px solid #DDD; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  color: hsla(195, 69%, 55%, 1);
  transition: border-color .1s;
  display: inline-block;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}

a:hover {
  border-bottom-color: hsla(197, 58%, 75%, 1);
}

.header-search {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0px;
  vertical-align: middle;
}

.header-nb-result {
  font-size: initial;
  font-style: italic;
}

.search-help {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 1rem;
  font-family: Inconsolata;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;
}

.search-help:hover { background: rgba(0, 0, 0, 0.8); }

.show-tag-list {
  background: none;
  border: none;
  padding: 0;
  vertical-align: middle;
  font-size: 0;
  cursor: pointer;
}

.show-tag-list svg {
  fill: #888;
}

.search-input {
  font-size: 1rem;
  font-family: Inconsolata;
  background: none;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 150px;
  transition: all .3s;
}

.search-input:focus { width: 200px; }

.add-tip {
  display: inline-block;
  background: none;
  border: none;
  font-size: 26px;
  font-family: Inconsolata;
  vertical-align: baseline;
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: relative;
}

.add-tip::after,
.add-tip::before {
  content: "";
  display: block;
  border-bottom: 3px solid #444;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  margin-top: -1px;
  left: 0;
}

.add-tip::before {
  top: 0;
  left: 50%;
  transform: rotate(.25turn);
}

.tips {
  padding: 10px;
  width: 750px;
  margin: auto;
  max-width: 100%;
  transition: all .1s;
  opacity: 1;
  height: auto;
}

.tips.fadeOut { opacity: 0; }

.tips.hidden {
  height: 0;
  overflow: hidden;
}

.tip-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  cursor: pointer;
  display: flex;
}

.tip-title.hidden {
  display: none;
}

.tip-title.hidden + .tip-panel {
  display: none;
}

.tip-title a {
  flex: 1;
  border: none;
  color: inherit;
}

.tip-title:hover, .tip-title.active { border-color: #555; }

.tip-tags {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  padding: 0;
}

.tip-tag {
  font-size: .8rem;
  font-weight: normal;
  font-family: Inconsolata;
  display: inline-block;
  background-color: hsl(197, 84%, 96%);
  border: 1px solid #6ebad8;
  padding: 1px 5px;
  margin: 2px 0;
}

.tip-tag:hover { background-color: hsla(197, 69%, 90%, 1); }

.tip-tag a {
  color: #444;
  text-decoration: none;
  border: none;
}

.tip-date {
  font-family: Inconsolata;
  font-size: .8rem;
}

.e404 {
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  transition: all .2s;
}

.e404.hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.e404.fadeOut .e404-title,
.e404.fadeOut .e404-message {
  display: none;
}

.e404-text {
  display: inline-block;
}
.e404-text {
  display: inline-block;
  transform: rotate(-.25turn);
  font-size: 50px;
  font-weight: bold;
  color: #999;
}

footer {
  text-align: center;
  font-size: 4vw;
}

footer a {
  color: hsl(180, 2%, 89%);
  border: none;
}

footer a:hover {
  color: hsl(180, 2%, 80%);
}

.tag-list {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 20px #ccc;
  visibility: hidden;
  opacity: 0;
  margin-left: -10px;
  transition: visibility 0s linear .2s, opacity .2s linear, margin .2s;
}

.tag-list.shown {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
  margin-left: 0;
}

.tag-list .title {
  text-align: center;
  margin: 5px 0;
}

.tag-list .tags {
  columns: auto 4em;
}

.tag-list .tip-tag {
  margin: 5px;
}

.tag-list ul {
  padding: 0;
  margin: 0;
}

.title { position: relative; }

.title .close {
  position: absolute;
  right: -10px;
  cursor: pointer;
  font-size: 25px;
  top: -25px;
  color: #ccc;
  user-select: none;
}

.title .close:hover {
  color: #555;
}

.hljs-comment,.hljs-quote{color:#8e908c}.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion{color:#c82829}.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link{color:#f5871f}.hljs-attribute{color:#eab700}.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition{color:#718c00}.hljs-title,.hljs-section{color:#4271ae}.hljs-keyword,.hljs-selector-tag{color:#8959a8}.hljs{display:block;overflow-x:auto;background:white;color:#4d4d4c;padding:0.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

